<p>Bonjour,</p>

<p>Vous êtes invité à rejoindre l'équipe Kmar perfume comme admin.</p>

<p>Votre adresse email : <%= @admin.email %></p>
<p>Votre mot de passe temporaire : <%= @password %></p>

<p><strong>Notice importante :</strong> Pour des raisons de sécurité, veuillez changer ce mot de passe le plus tôt possible dès votre première connexion.</p>

<p>Connectez-vous ici : <%= new_admin_session_url %></p>

<p>Si vous n'avez pas demandé cette invitation, veuillez ignorer cet email.</p>

<p>Cordialement,<br>L'équipe Kmar perfume</p>