<div class="container-fluid"></div>
<h1>Liste des parfums</h1>

<%= button_to "Ajouter un parfum", new_admin_panel_parfum_path, 
    class: "btn btn-primary mb-4", 
    method: :get %>

<div id="flash">
  <%= render "shared/flash" %>
</div>

  <div class="parfums-grid-container">
    <%= render @parfums %>
  </div>
</div>